<%- include('partials/header') %>

<div class="jumbotron">
    <h1 class="display-2">Benvenuto in ALLMond!</h1>
    <div class="card text-bg-light shadow mt-4 p-4 d-flex">
        <p class="lead">Questo strumento è semplice e buono come una mandorla. Utilizza l'Intelligenza Artificiale per rispondere alle tue domande sull'Università Politecnica delle Marche.</p>
        <hr class="my-4">
        <p>Il sistema cerca informazioni aggiornate dal sito web dell'ateneo e fornisce risposte contestualizzate.</p>
    </div>
    
    <div class="mt-4 text-center">
        <a class="btn btn-outline-primary btn-lg shadow mt-5 me-2" href="/chat" role="button">Inizia a Chattare</a>
        <a class="btn btn-outline-secondary btn-lg shadow mt-5 ms-2" href="/about" role="button">Chi siamo</a>
    </div>

</div>

<%- include('partials/footer') %>
