<%- include('partials/header') %>

<style>
    body { padding-top: 0 !important; }
    .navbar { background-color: rgba(33, 37, 41, 0.8) !important; backdrop-filter: blur(5px); }
</style>

<div class="d-flex flex-column align-items-center w-100">
    
    <div class="bg-image d-flex align-items-end justify-content-center w-100 mb-5">
        <h1 class="display-2 text-white ms-3" style="text-shadow: 2px 2px 4px #000000; margin-bottom: 6rem;">Benvenuto in ALLMond!</h1>
    </div>
    
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card text-bg-light shadow h-100">
                    <div class="card-body p-4">
                        <p class="lead card-title">"Size doesn't matter, it's how you use it."</p>
                        <p class="card-text"> Questo software impiega modelli di piccola taglia, classificati come SLM (Small Language Models), per offrire risposte rapide ed efficienti. 
                            Alla base di queste scelte implementative anche l'idea che questa classe di modelli, opportunamente contestualizzata possa risultare estremamente efficace.
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-top-0 text-center mb-3">
                        <a href="/papers/nvidia paper on small models.pdf" class="btn btn-outline-info" download>paper</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-bg-light shadow h-100">
                    <div class="card-body p-4">
                        <p class="lead card-title">Questo strumento è semplice e buono come una mandorla. </p>
                        <p class="card-text"> ALLMond è un assistente virtuale progettato per rispondere a domande specifiche su un argomento.
                            Inoltre, questa soluzione software web è stata progettata e implementata come un framework open-source per sistemi RAG e RAG on-the-fly.
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-top-0 text-center mb-3">
                        <a class="btn btn-outline-info me-2" href="/chat" role="button">Inizia a Chattare</a>
                        <a class="btn btn-outline-success ms-2" href="/about" role="button">Chi siamo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include('partials/footer') %>
